<section class="example-section">
    <mat-checkbox>Device A</mat-checkbox><br />
    <mat-checkbox>Device B</mat-checkbox><br />
    <mat-checkbox>Device C</mat-checkbox><br />
    <mat-checkbox>Device A</mat-checkbox><br />
    <mat-checkbox>Device B</mat-checkbox><br />
    <mat-checkbox>Device C</mat-checkbox><br />
    <mat-checkbox>Device A</mat-checkbox><br />
    <mat-checkbox>Device B</mat-checkbox><br />
    <mat-checkbox>Device C</mat-checkbox><br />
    <mat-checkbox>Device A</mat-checkbox><br />
    <mat-checkbox>Device B</mat-checkbox><br />
    <mat-checkbox>Device C</mat-checkbox><br />
    <mat-checkbox>Device A</mat-checkbox><br />
    <mat-checkbox>Device B</mat-checkbox><br />
    <mat-checkbox>Device C</mat-checkbox><br />
    <mat-checkbox>Device A</mat-checkbox><br />
    <mat-checkbox>Device B</mat-checkbox><br />
    <mat-checkbox>Device C</mat-checkbox><br />
    <mat-checkbox>Device A</mat-checkbox><br />
    <mat-checkbox>Device B</mat-checkbox><br />
    <mat-checkbox>Device C</mat-checkbox><br />
    <mat-checkbox>Device A</mat-checkbox><br />
    <mat-checkbox>Device B</mat-checkbox><br />
    <mat-checkbox>Device C</mat-checkbox><br />
</section>