<button mat-button color="primary" (click)="openDeviceList($event)">Wall 1</button><br />
<button mat-button color="primary" (click)="openDeviceList($event)">Wall 2</button><br />
<button mat-button color="primary" (click)="openDeviceList($event)">Wall 3</button><br />
<button mat-button color="primary" (click)="openDeviceList($event)">Wall 4</button><br />
<button mat-button color="primary" (click)="openDeviceList($event)">Wall 5</button><br />
<button mat-button color="primary" (click)="openDeviceList($event)">Wall 6</button><br />